@import '@flaticon/flaticon-uicons/css/regular/rounded';
@import '@fontsource-variable/quicksand';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Quicksand Variable';
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
}

.fi {
    /* Icons are always block displayed */
    display: block;
    /* Icons have 0 line height to avoid weird extra space below them */
    line-height: 0;
}

@layer components {
    .heading {
        line-height: 0.9;
        text-transform: lowercase;
    }

    h1.heading {
        @apply text-8xl font-extralight sm:text-[7rem];
    }

    h2.heading {
        @apply text-7xl font-light sm:text-8xl;
    }
}
